Repository itsteddyyo/strategy-pack, pull requests merged in 2024-09, with the labels that each got.

#8 Feature/hidden disabled
  documentation/markdown/area/CONFIGURATION.md
  documentation/markdown/grid/CONFIGURATION.md
  documentation/markdown/log/CONFIGURATION.md
  src/area-strategy.ts
  src/grid-view-strategy.ts
  src/util/filter.ts
  src/util/types.ts
Labels: enhancement

#11 Prevent disable_by/hidden_by from wrecking every config
  src/area-strategy.ts
  src/util/filter.ts
Labels: bug

#12 Update Packages
  package-lock.json
  package.json
Labels: technical

#14 Filter type: area now includes check for inherited device area
  src/area-strategy.ts
  src/util/filter.ts
Labels: bug

#18 pin version of prettier
  package-lock.json
  package.json
Labels: technical

#17 allow filtering by entity_category
  src/util/filter.ts
  src/util/types.ts
Labels: enhancement

#20 areaColors now get repeated when more areas than colors
  src/area-dashboard-strategy.ts
Labels: bug

#21 Dependency Update to fix critical vulnerabilty in develop dependencies
  package-lock.json
  package.json
Labels: technical
